main {
  background: rgba(27, 27, 27, 0.7) url("../../assets/asset-3.jpeg");
  background-blend-mode: darken;
  color: rgb(46, 45, 45);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.intro-text {
  font-size: 1.5rem;
  color: rgb(236, 234, 234);
}

main div p {
  color: rgb(236, 234, 234);
  font-size: medium;
  font-weight: 600;
}

.start {
  background-color: lightseagreen;
  border: none;
  outline: none !important;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 10px 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.start a {
  outline: none !important;
  text-decoration: none;
  color: white;
  border: none !important;
}
