main {
  background: white;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(46, 45, 45);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main div {
  display: flex;
  padding: 0 2.5rem;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.intro-text {
  font-size: 4rem;
  text-align: center;
  /* color: rgb(236, 234, 234); */
}

main div .desc {
  /* color: rgb(236, 234, 234); */
  font-size: medium;
  font-size: 2.5rem;
  font-weight: 600;
}

main div p span {
  color: #20b2aa;
}

.start {
  background-color: lightseagreen;
  border: none;
  outline: none !important;
  padding: 0.6rem 1rem;
  border-radius: 10px 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.start a {
  outline: none !important;
  text-decoration: none;
  color: black;
  border: none !important;
}


@media screen and (max-width:600px) {
  main{
    height: 80vh;
  }
  main div {
    padding: 1rem;
    text-align: center;
  }
}
