.content {
  width: 60%;
  margin: auto;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.content-image {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.content-image img {
  width: 100%;
  height: 100%;
}

.content-details {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.content-category {
  background-color: rgb(185, 83, 83);
  color: white;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 16px 8px;
}

.content-author {
  margin: 10px 0 5px;
  font-size: medium;
  font-weight: 200;
}

.content-timestamp {
  font-size: small;
  font-weight: 300;
}

.content-story {
  width: 100%;
}

@media screen and (max-width: 400px) {
  .content {
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  .content-image{
      width:fit-content ;
  }
  
  /* .content-image img {
    width: 18rem;
    height: 15rem;
  } */
}
