.content {
  width: 60%;
  margin: auto;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
}

.content-image {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.content-image img {
  width: 100%;
  height: 100%;
}

.space {
  display: flex;
  justify-content: space-between;
}

.bi-pencil {
  color: blue;
  font-size: large;
  font-weight: 400;
  cursor: pointer;
  padding: 0.2rem;
}

.bi-trash {
  color: red;
  font-size: large;
  font-weight: 400;
  cursor: pointer;
  margin-left: 1.5rem;
  padding: 0.2rem;
}

.bi-trash:hover {
  color: rgb(219, 72, 72);
}

.bi-pencil:hover {
  color: rgb(89, 89, 249);
}

.Likebutton {
  background-color: aliceblue;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  margin-top: 3rem;
}

.Likebutton:hover {
  background-color: rgb(222, 228, 233);
}

.content-details {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.content-category {
  background-color: rgb(185, 83, 83);
  color: white;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 16px 8px;
}

.content-header {
  font-size: 40px;
  font-weight: 400;
  padding: 0.5rem 0 1rem;
}

.content-author {
  margin: 10px 0 5px;
  font-size: medium;
  font-weight: 200;
}

.content-timestamp {
  font-size: small;
  font-weight: 300;
}

.content-story {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .content {
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  .content-image {
    width: fit-content;
  }

  /* .content-image img {
    width: 18rem;
    height: 15rem;
  } */
}
