.profile {
  display: block;
  width: 75%;
  background-color: rgb(248, 251, 253);
  margin: auto;
  padding: 3rem 2rem;
  position: relative;
}

.profile-pic {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.profile-pic img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-columns: auto;
  column-gap: 3rem;
  row-gap: 2rem;
  margin-top: 2rem;
  padding: 1rem 0 0;
}

.profile-details div {
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 0.5rem;
  height: 2rem;
  display: flex;
  align-self: center;
}

.profile-details div label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 100px;
  border-right: 2px solid black;
  background-color: rgb(219, 216, 216);
  padding: 0 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.profile-details div span {
  font-size: 1.125rem;
  font-weight: 400;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bio {
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  margin: -1.5rem auto 4rem;
}

.bio label {
  display: flex;
  flex-direction: column;
  border: none !important;
  border-bottom: 1px solid #000 !important;
  padding: 0.25rem 0.5rem;
}

.bio .bio__Content {
  padding: 0.5rem 0.5rem;
}

.edit-profile-btn {
  background-color: #20b2aa;
  color: white;
  position: absolute;
  top: 6rem;
  right: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 12px;
  text-decoration: none;
}

.edit-link {
  text-decoration: none;
  color: white;
}

.users__posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 0px;
  row-gap: 0px;
  padding: 10px 0 20px;
}

@media screen and (max-width: 480px) {
  .profile {
    width: 95%;
    padding-top: 5rem;
  }
  .profile-details {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }
  .profile-details div {
    justify-content: flex-start;
  }

  .bio {
    margin-top: 1rem;
  }
  .edit-btn {
    top: 10px;
    right: 10px;
  }

  .users__posts {
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 20px;
  }
}
