ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 20px;
}

.link {
    cursor: pointer;
    border: solid white 1px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

a:hover{
    color: rgb(39, 39, 39);
}

button{
    outline: none;
    background-color: transparent;
    border: none;
    font-size: medium;
    cursor: pointer;
}

.user-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

