.newsletter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(51, 46, 46);
    color: white;
    padding: 2rem 1rem;
}

.newsletter .desc{
    font-size: larger;
    margin-right: 2.5rem;
    justify-content: center;
}

.newsletter .inputDiv {
    justify-content: center;
    align-items: center;
}

.newsletter .inputDiv .input {
    width: 300px;
    height: 1.5rem;
    padding: 0.5rem 0.8rem;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 15px;
}
