.blogpage{
    min-height: 90vh;
    max-width: 70%;
    margin:0 auto;
    background-color: rgb(247, 242, 247);
    padding-left: 1rem;
}

.heading {
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-weight: 300;
    font-size: 2.5rem;
}
.blog-category {
    font-size: medium;
    font-weight: 400;
    margin-bottom: 1rem;
}
.filter {
    padding-right: 1rem;
}

.category-heading {
    display: flex;
    justify-content: space-between;
}

.no-blog {
    font-size: larger;
    font-weight: 200;
}

@media screen and (max-width:600px) {
    .blogpage{
        max-width: 100%;
        margin: 0 auto;
        border: none;
    }
}